---
title: Produtos
---

<div class="wrapper">

    <header data-grid="end">
        <p data-cell="shrink"><a href="#contato" data-btn>Solicite um orçamento</a></p>
    </header>

    <section data-grid="cols-2 spacing">
        
        {% for p in site.produtos %}
        
            <article class="post-item">
        
                <h4 class="post-link">
                    <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                </h4>
        
                <div data-grid="row wrap">
        
                {% for img in p.image %}
                    <div data-cell="shrink">
                        <img src="{{ site.baseurl }}{{ img }}" alt="Imagem de {{ p.title }}" width="80">
                    </div>
                {% endfor %}
        
                </div>
        
            </article>
        
        {% endfor %}
    
    </section>

</div>

<footer>
    {% include sections/catalogos.html %}
</footer>
