
<header class="wrapper page-header">
    <h3>Nossos produtos</h3>
</header>

<div class="wrapper large" data-grid="spacing">

    {% for p in site.produtos %}

        <article data-cell="1of3 fill" data-grid="column justify">

            <div data-cell="shrink fill">
                <img src="{{ site.baseurl }}{{ p.image[0] }}" alt="{{ p.title }}">
            </div>
            <h4>
                <small>{{ p.title }}</small>
            </h4>
            <p>
                {{ p.content | strip_html | truncate_words: 10 }}
            </p>

        </article>

    {% endfor %}

</div>
