
<div class="wrapper" data-grid="center spacing">

    <div data-cell="shrink order-1">
        <img src="{{ site.baseurl }}/img/badge-iso.png" alt="Selo: Empresa Sustentável Certificada ISO">
    </div>

    <div data-cell="1of2">
        <section class="hero-body">
            <h2 class="page-title">Sustentabilidade</h2>
            <p>Compromisso com o meio ambiente.</p>
            <p>Certificados ISO/DIN.</p>
            <p>Peças com acabamento natural zincado branco a frio.</p>
        </section>
        <footer class="hero-footer">
            <p><a href="{{ site.baseurl }}/quem-somos/">Saiba mais...</a></p>
            <p><a href="#contato" data-btn>Solicite um orçamento</a></p>
        </footer>
    </div>

</div>
