
+module(btn)

    display: inline-block
    padding: 5px 15px
    font-weight: bold
    text-align: center
    text-transform: uppercase
    text-decoration: none
    color: #fff
    background-color: $brand-color
    border: 0 none
    border-radius: 4px

    &:hover, &:focus, &:active

        text-decoration: none
        color: #fff
        box-shadow: 0 0 8px 0 black
    
    +variant(download)
        padding: 15px
        +media-greater($on-palm)
            font-size: $small-font-size
        .icon, .icon-colored
            min-width: 50px
            svg
                width: 90%
                height: 100%

    +variant(link)

        padding: 0
        color: $brand-color
        background: none

        &:hover, &:focus, &:active

            text-decoration: none
            color: #000
            box-shadow: none
