$header-height: 52px
    
.site-header
    min-height: $header-height
    position: relative
    a
        &:hover, &:focus, &:active
            color: $grey-color-dark
            text-decoration: none

.site-title
    float: left
    font-family: $title-font-family
    line-height: 1
    img, svg
        display: inline-block
        vertical-align: middle
    svg
        display: inline-block
        width: $header-height - 12
        height: $header-height

.site-nav 
    float: right
    line-height: $header-height

    .menu-icon 
        display: none

    .page-link
        font-size: $small-font-size
        font-weight: 600
        line-height: $base-line-height
        text-transform: uppercase
        color: $grey-color
        margin-left: 20px

    @include media-query($on-palm) 
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        .menu-icon
            display: block
            float: right
            margin-bottom: 20px
            padding-top: 10px
            width: 36px
            height: 36px
            line-height: 0
            text-align: center
            >svg
                width: 18px
                height: 15px
                path
                    fill: $grey-color-dark

        .trigger 
            position: relative
            clear: both
            display: none
            padding: 10px
            background-color: $grey-color-light
            border-radius: 5px

        &:hover .trigger 
            display: block
            box-shadow: -5px 5px 5px -5px rgba(#000, .5)
            -webkit-animation: get-up .3s ease-in-out forwards
            animation: get-up .6s ease-in-out forwards
            &:before
                content: ''
                position: absolute
                top: -10px
                right: 10px
                border-style: solid
                border-width: 0 10px 10px
                border-color: transparent transparent $grey-color-light

        @keyframes get-up
            0%
                transform: translateY(-10px)
                opacity: 0
            100%
                transform: translateY(0)
                opacity: 1

        .page-link
            display: block
            padding: 15px 30px
            margin: 0
            border-radius: 3px
            &:hover, &:focus, &:active
                color: #fff
                background-color: $brand-color
